body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

#background {
    width: 102vw;
    height: 102vh;
    background-image: url("/static/image.png");
    background-size: cover;
    background-position: center;
}

#date,
#time {
    position: fixed;
    left: 48%;
    transform: translateX(-50%);
    color: white;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px #000000;
}

#date {
    top: 20%;
    font-size: 30px;
}

#time {
    top: 27%;
    font-size: 60px;
}
