<!-- HTML은 웹페이지의 뼈대를 만듭니다. -->
    <!DOCTYPE html>
    <html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>배경화면</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body> 
        <div id="background"> </div>
        <div id="date"></div>
        <div id = "time"></div>
        
        <!-- Socket.IO 라이브러리를 포함합니다. -->
        <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

        <!-- WebRTC용 video -->
        <video id="remoteVideo" autoplay playsinline style="position:fixed; bottom:10px; right:10px; width:200px; border:2px solid white;"></video>
        

        <script src="/static/script.js"></script>
    </body>
    </html>